# Ignore sensitive data
env/
*.json

# Ignore temporary files
*.pyc
__pycache__/
*.log

# Ignore result files
plots/
eda_outputs/
results/

# Ignore environment-specific configuration files
*.env
*.cfg

# Ignore system IDE/editor files
.vscode/
.idea/
.DS_Store

# Ignore the dependencies of the virtual environment
venv/

# Extra scripts
hyperparameter_optimization.py
create_project_structure.py
readme.py
